/* adapted from https://github.com/web-tiki/responsive-grid-of-hexagons */
.level {
  --color-hex-dark: #725a87;
  --color-hex-light: #f3cf78;

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 4.4%;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  width: calc(100% / var(--hex-columns)); /* = 100 / 10 */
  opacity: 20%;
}
.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}
.hex-in {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hex-in * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** EVEN ROW INDENTATION *****************************************************************/
.even-row {
  left: calc(50% / var(--hex-columns));
}
.click-required {
  opacity: 100%;
}

/*** HEXAGON COLORS ******************************************************************************************/
.tile-status-dark {
  background-color: var(--color-hex-dark);
}
.tile-status-light {
  background-color: var(--color-hex-light);
}
