/* https://codepen.io/ericornelissen/pen/vWbWKv */
.level {
  --hex-width: 70px;
  --hex-between: 10px;

  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  --color-hex-default: #ffffff;
  --color-hex-hover: #ffffff;

  --color-hex-dark: #725a87;
  --color-hex-light: #f3cf78;

  display: grid;
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.even-row {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.tile-status-dark {
  background-color: var(--color-hex-dark);
}
.tile-status-dark::after,
.tile-status-dark::before {
  border-top-color: var(--color-hex-dark);
  border-bottom-color: var(--color-hex-dark);
}

.tile-status-light {
  background-color: var(--color-hex-light);
}
.tile-status-light::after,
.tile-status-light::before {
  border-top-color: var(--color-hex-light);
  border-bottom-color: var(--color-hex-light);
}
