.preferences-form {
  margin-bottom: 1em;
}

.preferences-form span {
  margin-right: 10px;
}

.preferences-form select {
  padding: 5px;
}

.level-container {
  margin-bottom: 1em;
}

/* adapted from https://github.com/web-tiki/responsive-grid-of-hexagons */
.level {
  --color-hex-dark-hue: 272;
  --color-hex-dark-saturation: 20%;
  --color-hex-dark-lightness: 44%;

  --color-hex-light-hue: 42;
  --color-hex-light-saturation: 84%;
  --color-hex-light-lightness: 71%;

  --color-hex-alpha: 1;
  --color-hex-muted-alpha: 0.2;
  --color-hex-muted-saturation-scale: 0.5;

  --color-hex-dark: hsla(
    var(--color-hex-dark-hue),
    var(--color-hex-dark-saturation),
    var(--color-hex-dark-lightness),
    var(--color-hex-alpha)
  );
  --color-hex-dark-muted: hsla(
    var(--color-hex-dark-hue),
    calc(
      var(--color-hex-dark-saturation) * var(--color-hex-muted-saturation-scale)
    ),
    var(--color-hex-dark-lightness),
    var(--color-hex-muted-alpha)
  );

  --color-hex-light: hsla(
    var(--color-hex-light-hue),
    var(--color-hex-light-saturation),
    var(--color-hex-light-lightness),
    var(--color-hex-alpha)
  );
  --color-hex-light-muted: hsla(
    var(--color-hex-light-hue),
    calc(
      var(--color-hex-light-saturation) *
        var(--color-hex-muted-saturation-scale)
    ),
    var(--color-hex-light-lightness),
    var(--color-hex-muted-alpha)
  );

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 4.4%;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  width: calc(100% / var(--hex-columns)); /* = 100 / 10 */
}
.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}
.hex-in {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hex-in * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** EVEN ROW INDENTATION *****************************************************************/
.even-row {
  left: calc(50% / var(--hex-columns));
}

/*** HEXAGON COLORS ******************************************************************************************/
.tile-status-dark {
  background-color: var(--color-hex-dark);
}
.tile-status-dark-muted {
  background-color: var(--color-hex-dark-muted);
}
.tile-status-light {
  background-color: var(--color-hex-light);
}
.tile-status-light-muted {
  background-color: var(--color-hex-light-muted);
}

/*** Help text ***********************************************************************************************/
.how-to {
  background: hsl(45deg 100% 90%);
  padding: 0.6rem 4rem 0.6rem 0.6rem;
  margin-bottom: 1em;
  color: hsl(45deg 95% 25%);
  border-radius: 7px;
  position: relative;
}

.how-to p {
  margin: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.5;
  color: inherit;
  cursor: pointer;
}

/*** Collapsible Advanced Options ****************************************************************************/
/* Adapted from https://www.digitalocean.com/community/tutorials/css-collapsible */
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.6rem;

  color: hsl(0 0% 50% / 1);
  background: hsl(0 0% 95% / 1);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: hsl(0 0% 50% / 1);
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: hsl(0 0% 35% / 1);
}

.collapsible-content .content-inner {
  background: hsl(0deg 0% 90% / 20%);
  border-bottom: 1px solid hsl(0deg 0% 62% / 45%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

/*** Solution form *******************************************************************************************/
.solution-form {
  margin-bottom: 1em;
}

.solution-index {
  padding: 5px;
}
